[data-active-pane] * {
  pointer-events: none;
  user-select: none;
}

*::-webkit-scrollbar {
  width: 1em;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
  outline: 1px solid slategrey;
  background-color: darkgrey;
}

body {
  --explorer-layer-offset: 20px;
  --margin: 10px;
  --height-bar: 30px;

  --color-anchor: #0168bebd;
  --color-brand: #edf4fc;
  --color-accent: #b3daf58c;
  --color-bar: #ecf0f6;
  --color-editor: rgb(254, 254, 254);
  --color-explorer-active: #dae4ef;
  --color-explorer: #f8fafc;
  --color-foreground-inactive: #797979;
  --color-foreground: #424242;
  --color-background-hover: #e7ecf093;
  --color-scroll-bar: #e1e6ed;
  --color-handle: #c6cdd6;
  --vscode-foreground: var(--color-foreground);
}

body[data-color-mode='dark'] {
  --color-anchor: #e4ecff;
  --color-brand: #0f172a;
  --color-bar: #1c263a;
  --color-editor: #000c18;
  --color-explorer-active: #67a1df95;
  --color-explorer: #070725;
  --color-foreground-inactive: #8f9daeab;
  --color-foreground: #dde4ec;
  --color-background-hover: #d9dcdf31;
  --color-scroll-bar: #293a5d;
  --color-handle: #466299;
}

[data-color-mode='dark'] ::selection {
  background: var(--color-background-hover);
}

.solidlab {
  flex-direction: row;
  height: 100vh;

  scrollbar-color: var(--color-scroll-bar) var(--color-editor);
  scrollbar-width: thin;
  color: var(--color-foreground);
  font-size: 10pt;

  & button {
    color: var(--color-foreground-inactive);

    &:hover,
    &.active {
      color: var(--color-foreground);
    }
  }
}

a {
  color: var(--color-anchor);
}

.solidlab > * {
  flex: 1;
}

.framePane {
  background-color: var(--color-explorer);
}

.frame {
  display: flex;
  flex: 1;
  border: none;
}

iframe {
  background: white;
}

.sideBar {
  display: flex;
  flex-direction: column;
  background-color: var(--color-brand);

  & div:first-child {
    flex: 1;
  }

  & div {
    display: flex;
    flex-direction: column;
    font-size: 25px;
    line-height: 25px;

    & button {
      aspect-ratio: 1 / 1;

      &:hover {
        background: var(--color-background-hover);
      }
    }
  }
}

.actionPane {
  display: flex;
  flex: 0 var(--explorer-width) !important;
  background-color: var(--color-explorer);
}

.explorer {
  display: flex;
  flex-direction: column;
}

.explorerBar {
  justify-content: end;

  & button {
    aspect-ratio: 1/1;
    height: 100%;
    font-size: 12pt;

    &:hover {
      background-color: var(--color-background-hover);
    }
  }
}

.explorerContents {
  display: grid;
  flex: 1;
  align-content: baseline;
  overflow: auto;
  color: var(--color-foreground);
  font-size: 10pt;
  line-height: 16pt;

  & .explorerInput {
    margin: -1px;
    outline: none;
    border: 1px dashed var(--color-foreground-inactive);
    overflow: hidden;
    & input {
      flex: 1;
      outline: none;
      border: none;
      background: transparent;

      min-width: 0px;
    }
  }

  & button,
  & .explorerInput {
    display: flex;
    position: relative;
    align-items: center;
    padding-left: calc(var(--explorer-layer) * var(--explorer-layer-offset));
    color: inherit;
    text-align: left;
    white-space: nowrap;

    &.selected {
      margin: -1px;
      outline: none;
      border: 1px dashed var(--color-foreground-inactive);
    }

    &::before {
      position: absolute;
      left: 0px;
      opacity: 0;
      transition: opacity 0.125s;
      background: var(--color-foreground);
      width: 3px;
      height: 100%;
      content: '';
    }

    &:focus-visible {
      outline: none;
      border: none;
      background: var(--color-background-hover);

      &::before {
        opacity: 1;
      }
    }

    &.active {
      background-color: var(--color-explorer-active);
    }

    &[data-expanded]:not(.active),
    &:hover:not(.active) {
      background-color: var(--color-background-hover);
    }
  }
}

.tabsContainer {
  border-bottom: 2px solid var(--border-color);
  background-color: var(--color-bar);
  overflow: auto;
}

.bar {
  display: flex;
  background-color: var(--color-bar);
  min-height: var(--height-bar);
}

.tabs {
  white-space: nowrap;
}

.tab {
  display: flex;
  gap: 5px;
  border-right: 2px solid var(--border-color);
  padding-left: var(--margin);

  & button:first-child {
    padding: 0px;
  }

  &.active {
    background-color: var(--color-editor);
    & button {
      color: var(--color-foreground);
    }
  }

  &:hover {
    & .closeTabButton {
      opacity: 1;
    }
  }

  & .closeTabButton {
    opacity: 0;
    padding-right: var(--margin);
    padding-left: var(--margin);

    &:hover {
      background-color: var(--color-background-hover);
    }
  }
}

.editorPane {
  display: flex;
  flex-direction: column;
  border-left: 2px solid var(--border-color);
  background-color: var(--color-editor);

  & .editorBar {
    justify-content: end;
    font-size: 8pt !important;
  }
}

.suspenseMessage {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.pane {
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
}

.terminal {
  display: flex;
  flex: 0 var(--terminal-height);
  border-top: 2px solid var(--border-color);
  background-color: black;
  padding: 5px;
  overflow: hidden;
  scrollbar-color: var(--color-scroll-bar) transparent;
  scrollbar-width: thin;

  & :global(.xterm) {
    padding-right: 5px;
    padding-left: 5px;
    width: 100%;
    overflow: hidden;
  }
  & :global(.xterm-screen) {
    width: 100%;
    overflow: hidden;
  }
}

.handle {
  z-index: 10;
  cursor: ew-resize;
  overflow: auto !important;

  &.column div {
    cursor: ns-resize;
    margin-top: -2.5px;
    margin-left: 0px;
    width: 100%;
    height: 5px;
  }

  & div {
    position: absolute;
    transition: background-color 0.125s;
    margin-top: 0px;
    margin-left: -2.5px;
    background-color: transparent;
    width: 5px;
    height: 100%;
  }

  & div:hover,
  &[data-active-handle] div {
    background-color: var(--color-handle);
  }
}

.locationBar {
  display: flex;
  background-color: var(--color-bar);
  height: var(--height-bar);

  & button {
    width: var(--height-bar);
  }

  & input {
    flex: 1;
    margin: 4px;
    outline: none;
    border: 1px solid var(--color-foreground-inactive);
    border-radius: 3px;
    background: transparent;
    padding-left: 5px;
    color: var(--color-foreground);
  }
}

.colorModeButtonDark {
  transform: rotateZ(180deg);
}

.loaderAnimation {
  animation: 1s infinite forwards rotation;
}

@keyframes rotation {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

/* Context Menu */

.contextMenu {
  display: flex;
  flex-direction: column;
  gap: calc(var(--margin) / 2);
  transform-origin: var(--kb-menu-content-transform-origin);
  animation: contextMenuHide 50ms ease-in forwards;
  outline: none;
  box-shadow:
    0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
  border: 1px solid var(--color-foreground-inactive);
  border-radius: 6px;
  background-color: var(--color-explorer);
  padding: var(--margin);
  min-width: 160px;
}

.contextMenu[data-expanded] {
  animation: contextMenuShow 50ms ease-out;
}

.contextMenuItem {
  display: flex;
  position: relative;
  align-items: center;
  cursor: pointer;
  outline: none;
  border-radius: 2px;
  padding-right: calc(var(--margin) / 2);
  padding-left: calc(var(--margin) / 2);
  color: var(--color-foreground);
  font-size: 10pt;
  line-height: 16pt;
  user-select: none;
}

.contextMenuItem[data-highlighted] {
  outline: none;
  background-color: var(--color-background-hover);
}

.contextMenuSeparator {
  margin: 6px;
  border: none;
  background: var(--color-foreground-inactive);
  height: 1px;
}

@keyframes contextMenuShow {
  from {
    transform: scale(0.96);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes contextMenuHide {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.96);
    opacity: 0;
  }
}

/* Dialog */

.dialogTrigger {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  appearance: none;
  transition: 50ms background-color;
  outline: none;
  border-radius: 6px;
  padding: 0 16px;
  width: auto;
  height: 40px;
  color: white;
  font-size: 16px;
  line-height: 0;
}
.dialogOverlay {
  position: fixed;
  z-index: 50;
  animation: overlayHide 50ms ease 50ms forwards;
  transition: background 0s;
  inset: 0;
  background-color: rgb(0 0 0 / 0.2);
}
.dialogOverlay[data-expanded] {
  animation: overlayShow 50ms ease;
}
.dialogPositioner {
  display: flex;
  position: fixed;
  top: 0px;
  left: 0px;
  justify-content: center;
  align-items: center;
  z-index: 50;
  inset: 0;
}
.dialogContent {
  display: flex;
  flex-direction: column;
  gap: calc(var(--margin) * 2);
  z-index: 50;
  animation: dialogContentHide 50ms ease-in forwards;
  box-shadow:
    0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  border: 1px solid var(--color-foreground-inactive);
  border-radius: 6px;
  background-color: var(--color-editor);
  padding: calc(var(--margin) * 2);
  width: 425px;
  max-width: min(calc(100vw - 16px), 500px);
  color: var(--color-foreground);
  font-size: 12pt;
}
.dialogContent[data-expanded] {
  animation: dialogContentShow 50ms ease-out;
}
.dialogTitle {
  font-family: geist-black;
}
.dialogBar {
  margin: 0px;
  padding: 0px;
  height: 16pt;
  line-height: 16pt;
}
.dialogCloseButton {
  width: 16px;
  width: 16pt;
  height: 16px;
  height: 16pt;
  color: var(--color-foreground-inactive);
  &:hover {
    color: var(--color-foreground);
  }
}
.dialogCloseButtonContainer {
  display: flex;
  justify-content: end;
}
.dialogBody {
  display: grid;
  grid-template-columns: 1fr 1px 1fr;
  flex: 1;
  gap: var(--margin);
}
.dialogSeparator {
  background: var(--color-foreground-inactive);
}
.dialogDescription {
  font-size: 16px;
}
.dialogColumn {
  display: flex;
  flex-direction: column;
}
.dialogOptions {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: end;
  gap: calc(var(--margin) / 2);
  & .dialogSeparator {
    margin: 0px calc(var(--margin) / 2);
    height: 1px;
  }

  & > .dialogOption,
  & > .dialogOptionContainer > .dialogOption {
    padding: calc(var(--margin) / 2) var(--margin);
  }

  & > .dialogOptionContainer > .dialogOption {
    display: flex;
    flex: 1;
    gap: var(--margin);
    text-align: left;
  }

  & > .dialogOption,
  & > .dialogOptionContainer {
    display: flex;
    align-items: center;
    gap: var(--margin);
    border-radius: 3px;
    overflow: hidden;
    font-size: 10pt;
    letter-spacing: 0.5px;
    text-align: left;

    &:hover,
    &:has([aria-expanded='true']) {
      background-color: var(--color-background-hover);

      & .dialogButtonIcon {
        opacity: 1;
      }
    }

    & .dialogOptionIcon {
      opacity: 0.8;
      font-size: 12pt;
    }
    & .dialogOptionIcon[aria-haspopup] {
      cursor: pointer;
      border-radius: 2px;
      padding: calc(var(--margin) / 2);
    }
    & .dialogOptionIcon[aria-haspopup]:hover,
    & .dialogOptionIcon[aria-expanded='true'] {
      background: var(--color-accent);
    }
  }
}
@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes overlayHide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes dialogContentShow {
  from {
    transform: scale(0.96);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes dialogContentHide {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.96);
    opacity: 0;
  }
}

.popoverContent {
  transform-origin: var(--kb-popover-content-transform-origin);
  z-index: 50;
  animation: popoverContentHide 50ms ease-in forwards;
  box-shadow:
    0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  border: 1px solid var(--color-foreground-inactive);
  border-radius: 6px;
  background-color: var(--color-editor);
  padding: 12px;
  max-width: min(calc(100vw - 16px), 380px);
  color: var(--color-foreground);
}
.popoverContent[data-expanded] {
  animation: popoverContentShow 50ms ease-out;
}
.popoverHeader {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 6px;
}
.popoverCloseButton {
  & span {
    color: var(--color-foreground-inactive);
  }

  &:hover span {
    color: var(--color-foreground);
  }
}
.popoverTitle {
  font-weight: 500;
  font-size: 16px;
}
.popoverDescription {
  font-size: 14px;
}
@keyframes popoverContentShow {
  from {
    transform: scale(0.96);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes popoverContentHide {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.96);
    opacity: 0;
  }
}
