.Repl {
  --explorer-layer-offset: 20px;
  --accent-color: #dedede;
  --hover-color: #c7c7c7;
  --border-color: #7e7e7e;
  --margin: 5px;

  display: flex;
  flex-direction: row;
  height: 100vh;
  scrollbar-color: rgb(168, 168, 168) rgba(255, 255, 255, 0);
  scrollbar-width: thin;
}

.Repl > * {
  flex: 1;
}

.frame {
  display: flex;
  flex: 1;
  border: none;
}

.explorerPane {
  display: flex;
  flex: 0 var(--explorer-width) !important;

  & h1 {
    border-bottom: 1px solid var(--border-color);
    padding-left: var(--explorer-layer-offset);
    line-height: 24px;
  }

  & .explorer {
    display: grid;
    flex: 1;
    align-content: baseline;
    overflow: auto;

    & button {
      display: flex;
      align-items: center;
      padding-left: calc(var(--explorer-layer) * var(--explorer-layer-offset));
      text-align: left;
      white-space: nowrap;

      &:hover {
        background-color: var(--hover-color);
      }
    }
  }
}

.tabsContainer {
  border-bottom: 1px solid var(--border-color);
  overflow: auto;
}

.tabs {
  display: flex;
  min-height: 24px;
  white-space: nowrap;

  & .tab {
    display: flex;
    border-right: 1px solid var(--border-color);
    font-size: 10pt;

    &.selected {
      background-color: var(--accent-color);
    }

    &:hover .closeTabButton {
      opacity: 1;
    }

    & .closeTabButton {
      opacity: 0;

      &:hover {
        background-color: var(--hover-color);
      }
    }
  }
}

.editorPane {
  display: flex;
  flex-direction: column;
  border-left: 1px solid var(--border-color);
  overflow: hidden;

  & .textarea {
    flex: 1;
    outline: none;
    border: none;
    padding: var(--margin);
  }

  & .textarea {
    --line-number-width: calc((var(--tm-line-digits) + 1) * 1ch);
  }

  & .textarea pre::before {
    position: absolute;
    transform: translateX(calc(var(--line-number-width) * -1));
    opacity: 0.5;
    counter-reset: line-number calc(var(--tm-line-number) + 1);
    content: counter(line-number);
    color: var(--tm-foreground-color);
  }

  & .textarea pre,
  & .textarea textarea {
    transform: translateX(var(--line-number-width));
  }
}

.suspenseMessage {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.pane {
  display: flex;
  flex-direction: column;
  border-left: 1px solid var(--border-color);
  overflow: hidden;
}

.terminal {
  display: flex;
  flex: 0 var(--terminal-height);
  border-top: 1px solid var(--border-color);
  background-color: black;
  padding: 5px;
  overflow: hidden;

  & :global(.xterm) {
    padding-right: 5px;
    padding-left: 5px;
    width: 100%;
    overflow: hidden;
  }
  & :global(.xterm-screen) {
    width: 100%;
    overflow: auto;
  }
}
