@font-face {
  font-style: normal;
  font-weight: normal;
  src: url('./assets/geist/Geist-Regular.ttf');
  font-family: geist;
}

@font-face {
  font-style: normal;
  font-weight: normal;
  src: url('./assets/monument-extended.ttf');
  font-family: geist-black;
}

@font-face {
  font-style: normal;
  font-weight: normal;
  src: url('./assets/geist-mono/GeistMono-Regular.ttf');
  font-family: geist-mono;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  font-family: geist;
}

button,
input,
a {
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0px;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
}

h2 {
  all: unset;
  font-size: 16pt;
}

h3 {
  all: unset;
  font-size: 16pt;
}

* {
  transition:
    color 0.125s,
    opacity 0.125s,
    background-color 0.125s;
}
