body {
  --explorer-layer-offset: 20px;
  --margin: 10px;
  --height-bar: 30px;
  --color-anchor: #0168bebd;
  --color-brand: #edf4fc;
  --color-accent: #b3daf58c;
  --color-bar: #ecf0f6;
  --color-editor: rgb(254, 254, 254);
  --color-explorer-active: #dae4ef;
  --color-explorer: #f8fafc;
  --color-foreground-inactive: #797979;
  --color-foreground: #424242;
  --color-background-hover: #e7ecf093;
  --color-scroll-bar: #e1e6ed;
  --color-handle: #c6cdd6;
  --color-selection: #d1daed;
  --vscode-foreground: var(--color-foreground);
  scrollbar-color: var(--color-scroll-bar) var(--color-editor);
  scrollbar-width: thin;
}

body[data-color-mode='dark'] {
  --color-anchor: #e4ecff;
  --color-brand: #0f172a;
  --color-bar: #1c263a;
  --color-editor: #000c18;
  --color-explorer-active: #98b3cf95;
  --color-explorer: #070725;
  --color-foreground-inactive: #8f9daeab;
  --color-foreground: #cdd4db;
  --color-background-hover: #d9dcdf31;
  --color-scroll-bar: #293a5d;
  --color-handle: #466299;
  --color-selection: #67a1df95;
}

[data-color-mode='dark'] ::selection {
  background-color: var(--color-background-hover);
}

a {
  color: var(--color-anchor);
  &:focus-visible {
    outline: none;
    background: var(--color-anchor);
    color: var(--color-editor);
  }
}

iframe {
  background-color: white;
}

[data-active-pane] * {
  pointer-events: none;
  user-select: none;
}

*::-webkit-scrollbar {
  width: 1em;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
  outline: 1px solid slategrey;
  background-color: darkgrey;
}

/**********************************************************************************/
/*                                                                                */
/*                                      Layout                                    */
/*                                                                                */
/**********************************************************************************/

.pane {
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
}

.bar {
  display: flex;
  background-color: var(--color-bar);
  min-height: var(--height-bar);
}

.handle {
  z-index: 10;
  cursor: ew-resize;
  overflow: auto !important;

  &.column div {
    cursor: ns-resize;
    margin-top: -2.5px;
    margin-left: 0px;
    width: 100%;
    height: 5px;
  }

  & div {
    position: absolute;
    transition: background-color 0.125s;
    margin-top: 0px;
    margin-left: -2.5px;
    background-color: transparent;
    width: 5px;
    height: 100%;
  }

  & div:hover,
  &[data-active-handle] div {
    background-color: var(--color-handle);
  }
}

.suspenseMessage {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

/**********************************************************************************/
/*                                                                                */
/*                                    Solid Lab                                   */
/*                                                                                */
/**********************************************************************************/

.solidlab {
  flex-direction: row;
  height: 100vh;
  color: var(--color-foreground);
  font-size: 10pt;

  & button {
    color: var(--color-foreground-inactive);

    &:hover,
    &.active {
      color: var(--color-foreground);
    }

    &:focus-visible {
      opacity: 1;
      outline: none;
      border: 1px solid var(--color-foreground);
      background-color: var(--color-background-hover);
      color: var(--color-foreground);
    }
  }
}

.solidlab > * {
  flex: 1;
}

/**********************************************************************************/
/*                                                                                */
/*                                     Frame                                      */
/*                                                                                */
/**********************************************************************************/

.framePane {
  background-color: var(--color-explorer);
}

.frame {
  display: flex;
  flex: 1;
  border: none;
}

/**********************************************************************************/
/*                                                                                */
/*                                    Side Bar                                    */
/*                                                                                */
/**********************************************************************************/

.sideBar {
  display: flex;
  flex-direction: column;
  background-color: var(--color-brand);

  & div:first-child {
    flex: 1;
  }

  & div {
    display: flex;
    flex-direction: column;
    font-size: 25px;
    line-height: 25px;

    & button {
      aspect-ratio: 1 / 1;

      &:hover {
        background-color: var(--color-background-hover);
      }
      &:focus-visible {
        outline: none;
        border: 1px solid var(--color-foreground);
        background-color: var(--color-background-hover);
        color: var(--color-foreground);
      }
    }
  }
}

/**********************************************************************************/
/*                                                                                */
/*                                   Action Pane                                  */
/*                                                                                */
/**********************************************************************************/

.actionPane {
  display: flex;
  flex: 0 var(--explorer-width) !important;
  background-color: var(--color-explorer);
}

/**********************************************************************************/
/*                                                                                */
/*                              Action Pane: Explorer                             */
/*                                                                                */
/**********************************************************************************/

.explorer {
  display: flex;
  flex-direction: column;
}

.explorerBar {
  justify-content: end;

  & button {
    aspect-ratio: 1/1;
    height: 100%;
    font-size: 12pt;

    &:hover {
      background-color: var(--color-background-hover);
    }
  }
}

.explorerContents {
  content-visibility: auto;
  display: grid;
  flex: 1;
  align-content: baseline;
  overflow: auto;
  color: var(--color-foreground);
  font-size: 10pt;
  line-height: 18pt;

  & > * {
    content-visibility: auto;
  }

  & .explorerInput {
    margin: -1px;
    outline: none;
    border: 1px dashed var(--color-foreground-inactive);
    overflow: hidden;
    & input {
      flex: 1;
      outline: none;
      border: none;
      background-color: transparent;

      min-width: 0px;
    }
  }

  & button,
  & .explorerInput {
    display: flex;
    position: relative;
    align-items: center;
    padding-left: calc(var(--explorer-layer) * var(--explorer-layer-offset));
    color: inherit;
    line-height: calc(var(--margin) * 2.5);
    text-align: left;
    white-space: nowrap;

    &.selected {
      margin: -1px;
      outline: none;
      border: 1px dashed var(--color-foreground-inactive);
    }

    &::before {
      position: absolute;
      left: 0px;
      opacity: 0;
      transition: opacity 0.125s;
      background-color: var(--color-foreground);
      width: 3px;
      height: 100%;
      content: '';
    }

    &:focus-visible {
      outline: none;
      border: none;
      background-color: var(--color-background-hover);

      &::before {
        opacity: 1;
      }
    }

    &.active {
      background-color: var(--color-explorer-active);
    }

    &[data-expanded]:not(.active),
    &:hover:not(.active) {
      background-color: var(--color-background-hover);
    }
  }
}

/**********************************************************************************/
/*                                                                                */
/*                        Action Pane: Search And Replace                         */
/*                                                                                */
/**********************************************************************************/

.searchAndReplace {
  display: grid;
  gap: 5px;
  z-index: 10;
  background-color: var(--color-bar);
  padding: calc(var(--margin) / 2) var(--margin);

  @media (max-width: 500px) {
    right: 25px;
    max-width: calc(100vw - 50px);
  }

  & .inputContainer {
    display: flex;
    position: relative;
    flex: 1;
    min-width: 0px;

    & input {
      flex: 1;
      outline: 1px solid var(--color-foreground-inactive);
      border-radius: 2px;
      background-color: var(--color-explorer);
      padding: 4px;
      padding-left: 7px;
      min-width: 0px;

      &:focus {
        outline: 1px solid var(--color-foreground);
      }
    }
  }

  & .inputIcons {
    display: flex;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    font-size: 12pt;

    & > button {
      margin: 4px;
      border-radius: 1px;
      aspect-ratio: 1 / 1;

      &.active,
      &:hover {
        background-color: var(--color-background-hover);
        color: 1px solid var(--color-foreground);
      }

      &:focus-visible {
        outline: 1px solid var(--color-foreground-inactive);
        border: none;
        background-color: var(--color-background-hover);
        color: 1px solid var(--color-foreground);
      }
    }
  }

  & .count {
    width: 75px;
  }

  & .row {
    display: flex;
    gap: 5px;
  }

  & .loaderContainer {
    display: flex;
    flex: 1;
    justify-content: end;
    align-items: center;
  }

  & .loader {
    flex: 0 16px;
  }

  & .searchResultsContainer {
    overflow: auto;
  }

  & .searchResults {
    content-visibility: auto;
    display: grid;
    flex: 1;
    align-content: baseline;
    font-size: 10pt;
    line-height: 16pt;

    & > * {
      content-visibility: auto;
    }

    & button {
      color: var(--color-foreground);
      text-align: left;
      &:hover {
        background-color: var(--color-background-hover);
      }
    }

    & em {
      background: var(--color-selection);
      color: var(--color-foreground);
      font-style: normal;
    }

    & > .file {
      color: var(--color-foreground);

      & > .fileIcon {
        width: var(--explorer-layer-offset);
      }

      & > .fileName {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    & > .separator {
      margin: 0px var(--margin);
      background-color: var(--color-foreground-inactive);
      height: 1px;

      &.open {
        margin-top: var(--margin);
      }
    }

    & > .searchResult {
      padding-left: var(--explorer-layer-offset);
      color: var(--color-foreground-inactive);
      text-overflow: ellipsis;

      & span {
        padding-right: var(--margin);
      }
    }

    & > .file,
    & > .searchResult {
      display: flex;
      position: relative;
      align-items: center;
      height: calc(var(--margin) * 3);
      overflow: hidden;
      text-align: left;
      white-space: nowrap;

      & span {
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &.selected {
        margin: -1px;
        outline: none;
        border: 1px dashed var(--color-foreground-inactive);
      }

      &::before {
        position: absolute;
        left: 0px;
        opacity: 0;
        transition: opacity 0.125s;
        background-color: var(--color-foreground);
        width: 3px;
        height: 100%;
        content: '';
      }

      &:focus-visible {
        outline: none;
        border: none;
        background-color: var(--color-background-hover);

        &::before {
          opacity: 1;
        }
      }
    }
  }
}

/**********************************************************************************/
/*                                                                                */
/*                                       Tabs                                     */
/*                                                                                */
/**********************************************************************************/

& .barCloseButton {
  opacity: 0;
  border: 1px solid transparent;
  width: var(--height-bar);

  &:hover {
    background-color: var(--color-background-hover);
  }
}

.tabsContainer {
  border-bottom: 2px solid var(--border-color);
  background-color: var(--color-bar);
  overflow: auto;
}

.tabs {
  white-space: nowrap;
}

.tab {
  display: flex;
  position: relative;
  gap: 5px;
  border-right: 2px solid var(--border-color);

  &:has(.focusTabButton:focus-visible) {
    background-color: var(--color-background-hover);

    &::before {
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      border: 1px solid var(--color-foreground);
      content: '';
    }
  }

  & .focusTabButton {
    padding: 0px;
    padding-left: var(--margin);

    &:focus-visible {
      border: none;
      background-color: transparent;
    }
  }

  &.active {
    background-color: var(--color-editor);
    & button {
      color: var(--color-foreground);
    }
  }

  &:hover {
    & .barCloseButton {
      opacity: 1;
    }
  }
}

.editorPane {
  display: flex;
  flex-direction: column;
  border-left: 2px solid var(--border-color);
  background-color: var(--color-editor);

  & .editorBar {
    justify-content: end;
    font-size: 8pt !important;
  }
}

/**********************************************************************************/
/*                                                                                */
/*                                    Terminal                                    */
/*                                                                                */
/**********************************************************************************/

.terminal {
  display: flex;
  flex: 0 var(--terminal-height);
  border-top: 2px solid var(--border-color);
  background-color: black;
  padding: 5px;
  overflow: hidden;
  scrollbar-color: var(--color-scroll-bar) transparent;
  scrollbar-width: thin;

  & :global(.xterm) {
    padding-right: 5px;
    padding-left: 5px;
    width: 100%;
    overflow: hidden;
  }
  & :global(.xterm-screen) {
    width: 100%;
    overflow: hidden;
  }
}

.locationBar {
  display: flex;
  background-color: var(--color-bar);
  height: var(--height-bar);

  & button {
    width: var(--height-bar);
  }

  & input {
    flex: 1;
    margin: 4px;
    outline: none;
    border: 1px solid var(--color-foreground-inactive);
    border-radius: 3px;
    background-color: transparent;
    padding-left: 5px;
    color: var(--color-foreground);
  }
}

.colorModeButtonDark {
  transform: rotateZ(180deg);
}

.loaderAnimation {
  animation: 1s infinite forwards rotation;
}

@keyframes rotation {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

/**********************************************************************************/
/*                                                                                */
/*                                  Context Menu                                  */
/*                                                                                */
/**********************************************************************************/

.contextMenu {
  display: flex;
  flex-direction: column;
  gap: calc(var(--margin) / 2);
  transform-origin: var(--kb-menu-content-transform-origin);
  animation: contextMenuHide 50ms ease-in forwards;
  outline: none;
  box-shadow:
    0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
  border: 1px solid var(--color-foreground-inactive);
  border-radius: 6px;
  background-color: var(--color-explorer);
  padding: var(--margin);
  min-width: 160px;
}

.contextMenu[data-expanded] {
  animation: contextMenuShow 50ms ease-out;
}

.contextMenuItem {
  display: flex;
  position: relative;
  align-items: center;
  cursor: pointer;
  outline: none;
  border-radius: 2px;
  padding-right: calc(var(--margin) / 2);
  padding-left: calc(var(--margin) / 2);
  color: var(--color-foreground);
  font-size: 10pt;
  line-height: 16pt;
  user-select: none;
}

.contextMenuItem[data-highlighted] {
  outline: none;
  background-color: var(--color-background-hover);
}

.contextMenuSeparator {
  margin: 6px;
  border: none;
  background-color: var(--color-foreground-inactive);
  height: 1px;
}

@keyframes contextMenuShow {
  from {
    transform: scale(0.96);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes contextMenuHide {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.96);
    opacity: 0;
  }
}

/**********************************************************************************/
/*                                                                                */
/*                                      Dialog                                    */
/*                                                                                */
/**********************************************************************************/

.dialogTrigger {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  appearance: none;
  transition: 50ms background-color;
  outline: none;
  border-radius: 6px;
  padding: 0 16px;
  width: auto;
  height: 40px;
  color: white;
  font-size: 16px;
  line-height: 0;
}
.dialogOverlay {
  position: fixed;
  z-index: 50;
  animation: overlayHide 50ms ease 50ms forwards;
  transition: background 0s;
  inset: 0;
  background-color: rgb(0 5 24 / 50%);
}
.dialogOverlay[data-expanded] {
  animation: overlayShow 50ms ease;
}
.dialogPositioner {
  display: flex;
  position: fixed;
  top: 0px;
  left: 0px;
  justify-content: center;
  align-items: center;
  z-index: 50;
  margin-bottom: calc(var(--margin) * 2);
  inset: 0;
}
.dialogContent {
  display: flex;
  flex-direction: column;
  z-index: 50;
  animation: dialogContentHide 50ms ease-in forwards;
  box-shadow:
    0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  border: 1px solid var(--color-foreground-inactive);
  border-radius: 6px;
  background-color: var(--color-editor);
  color: var(--color-foreground);
  font-size: 12pt;
}
.dialogContent[data-expanded] {
  animation: dialogContentShow 50ms ease-out;
}
.dialogTitle {
  font-size: 25px;
  line-height: 30px;
  font-family: geist-black;
}

.closeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 3px;
  width: 16px;
  width: 16pt;
  height: 16px;
  height: 16pt;
  color: var(--color-foreground-inactive);

  &:hover {
    color: var(--color-foreground);
  }
  &:focus-visible {
    outline: none;
    border-color: var(--color-foreground);
    background: var(--color-background-hover);
    color: var(--color-foreground);
  }
}
.closeButtonContainer {
  display: flex;
  justify-content: end;
}
.dialogBody {
  display: grid;
  grid-template-columns: 1fr 1px 1fr;
  flex: 1;
  gap: var(--margin);
}
.dialogSeparator {
  background-color: var(--color-foreground-inactive);
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes overlayHide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes dialogContentShow {
  from {
    transform: scale(0.96);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes dialogContentHide {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.96);
    opacity: 0;
  }
}

/**********************************************************************************/
/*                                                                                */
/*                                   Main Dialog                                  */
/*                                                                                */
/**********************************************************************************/

.mainDialogContent {
  padding: calc(var(--margin) * 2);
  width: 500px;
}
.mainDialogBar {
  display: flex;
  align-items: center;
  gap: var(--margin);
  margin: 0px;
  padding: 0px;
  height: 30px;
}
.mainDialogDescription {
  font-size: 16px;
}
.mainDialogColumn {
  display: flex;
  flex-direction: column;
}
.mainDialogOptions {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: end;
  gap: calc(var(--margin) / 2);
  & .dialogSeparator {
    margin: 0px calc(var(--margin) / 2);
    height: 1px;
  }

  & > .mainDialogOption,
  & > .mainDialogOptionContainer > .mainDialogOption {
    padding: calc(var(--margin) / 2) var(--margin);
  }

  & > .mainDialogOptionContainer > .mainDialogOption {
    display: flex;
    flex: 1;
    gap: var(--margin);
    text-align: left;
    &:focus-visible {
      outline: none;
      border: none;
    }
  }

  & > .mainDialogOption,
  & > .mainDialogOptionContainer {
    display: flex;
    align-items: center;
    gap: var(--margin);
    border: 1px solid transparent;
    border-radius: 3px;
    overflow: hidden;
    font-size: 10pt;
    letter-spacing: 0.5px;
    text-align: left;

    &:focus-visible,
    &:has(button:focus-visible) {
      outline: none;
      border: 1px solid var(--color-foreground-inactive);
    }

    &:hover,
    &:focus-visible,
    &:has(:focus-visible),
    &:has([aria-expanded='true']) {
      background-color: var(--color-background-hover);

      & .dialogButtonIcon {
        opacity: 1;
      }
    }

    & .mainDialogOptionIcon {
      position: relative;
      opacity: 0.8;
      border: 1px solid transparent;
      font-size: 12pt;
    }
    & button.mainDialogOptionIcon {
      cursor: pointer;
      border-radius: 2px;
      padding: calc(var(--margin) / 2);
    }
    & button.mainDialogOptionIcon:hover,
    & button.mainDialogOptionIcon:focus {
      background-color: var(--color-accent);
    }

    & button.mainDialogOptionIcon:focus-visible {
      outline: none;
      border: 1px solid var(--color-foreground);
      background-color: var(--color-background-hover);
      /* &::after {
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        z-index: 6;
        outline: none;
        border: 1px solid var(--color-foreground);
        border-radius: 3px;
        content: '';
      } */
    }
  }
}

/**********************************************************************************/
/*                                                                                */
/*                                     Popover                                    */
/*                                                                                */
/**********************************************************************************/

.popoverContent {
  transform-origin: var(--kb-popover-content-transform-origin);
  z-index: 50;
  animation: popoverContentHide 50ms ease-in forwards;
  box-shadow:
    0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  border: 1px solid var(--color-foreground-inactive);
  border-radius: 6px;
  background-color: var(--color-editor);
  padding: 12px;
  max-width: min(calc(100vw - 16px), 380px);
  color: var(--color-foreground);
}
.popoverContent[data-expanded] {
  animation: popoverContentShow 50ms ease-out;
}
.popoverHeader {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 6px;
}
.popoverCloseButton {
  & span {
    color: var(--color-foreground-inactive);
  }

  &:hover span {
    color: var(--color-foreground);
  }
}
.popoverTitle {
  font-weight: 500;
  font-size: 16px;
}
.popoverDescription {
  font-size: 14px;
}
@keyframes popoverContentShow {
  from {
    transform: scale(0.96);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes popoverContentHide {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.96);
    opacity: 0;
  }
}

/**********************************************************************************/
/*                                                                                */
/*                                 Search Dialog                                  */
/*                                                                                */
/**********************************************************************************/

body[data-color-mode='dark'] .searchDialog {
  --color-label-primitive: #fbb3a7d3;
  --color-label-router: #9dbedacc;
  --color-label-data: #a3e1a3ca;
  --color-label-data_visualization: #f5e89bd0;
  --color-label-ui: #b5aee4d2;
  --color-label-plugin: #f1b39dd6;
  --color-label-starters: #efb3c7d3;
  --color-label-build_utility: #b4f1eed4;
  --color-label-add_on: #f4b6ddd3;
  --color-label-testing: #8cf1f1d0;
  --color-label-educational: #eadbb6d2;
}

.searchDialog {
  --search-dialog-width: 650px;
  --color-label-primitive: #ff6347;
  --color-label-router: #4682b4;
  --color-label-data: #32cd32;
  --color-label-data_visualization: #ffd700;
  --color-label-ui: #6a5acd;
  --color-label-plugin: #ff4500;
  --color-label-starters: #db7093;
  --color-label-build_utility: #20b2aa;
  --color-label-add_on: #c71585;
  --color-label-testing: #008b8b;
  --color-label-educational: #daa520;

  transition: height 0.25s;
  box-sizing: border-box;
  min-width: var(--search-dialog-width);
  height: 46px;
  overflow: hidden;
  scrollbar-color: var(--color-foreground-inactive) transparent;
  scrollbar-width: thin;

  &:not(.closed) {
    height: 450px;

    & .searchHeader {
      border-bottom: 1px solid var(--color-foreground-inactive);
    }
  }

  & .suspenseMessage {
    color: var(--color-foreground-inactive);
  }

  & .searchDialogBar {
    flex: 0 30px;
    flex-shrink: 0;
  }

  & .searchDialogSwitch {
    position: absolute;
    top: -20px;
  }

  & .searchContainer {
    display: flex;
    position: relative;
    flex: 0 42px;
    flex-shrink: 0;
    border: none;
    height: 100%;

    & .search {
      flex: 1;
      padding-left: calc(var(--margin) * 2);

      &:focus {
        outline: none;
        border: none;
      }
    }

    & .searchIcon {
      display: flex;
      position: absolute;
      right: 0px;
      justify-content: center;
      align-items: center;
      z-index: 1;
      aspect-ratio: 1 / 1;
      height: 100%;
    }
  }

  & .searchHeader {
    display: flex;
    flex-direction: column;

    & .searchLabels {
      display: flex;
      flex-shrink: 0;
      gap: calc(var(--margin) / 2);
      padding: calc(var(--margin) / 2) var(--margin);
      overflow-x: auto;
      overflow-y: hidden;
      font-size: 9pt;
    }
  }

  & .searchResultBottomBar .searchLabels {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: baseline;
    gap: 5px;
    font-size: 9pt;
  }

  & .searchLabel {
    border-radius: 3px;
    background-color: var(--color-background-hover);
    padding: 0px 3px;
    white-space: nowrap;

    &.inactive {
      opacity: 0.5;
    }

    &.primitive {
      background-color: var(--color-label-primitive);
      color: var(--color-editor);
    }
    &.router {
      background-color: var(--color-label-router);
      color: var(--color-editor);
    }
    &.data {
      background-color: var(--color-label-data);
      color: var(--color-editor);
    }
    &.data_visualization {
      background-color: var(--color-label-data_visualization);
      color: var(--color-editor);
    }
    &.ui {
      background-color: var(--color-label-ui);
      color: var(--color-editor);
    }
    &.plugin {
      background-color: var(--color-label-plugin);
      color: var(--color-editor);
    }
    &.starters {
      background-color: var(--color-label-starters);
      color: var(--color-editor);
    }
    &.build_utility {
      background-color: var(--color-label-build_utility);
      color: var(--color-editor);
    }
    &.add_on {
      background-color: var(--color-label-add_on);
      color: var(--color-editor);
    }
    &.testing {
      background-color: var(--color-label-testing);
      color: var(--color-editor);
    }
    &.educational {
      background-color: var(--color-label-educational);
      color: var(--color-editor);
    }
  }

  & .searchResults {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: calc(var(--margin) * 2);
    width: var(--search-dialog-width);
    overflow-x: hidden;
    overflow-y: auto;
  }

  & .searchResult {
    /* content-visibility: auto; */
    display: grid;
    gap: var(--margin);
    contain: paint layout style;
    margin: 0 calc(var(--margin) * 4);
  }

  & .searchResultHeader {
    display: flex;
    align-items: center;
    gap: var(--margin);
    box-shadow: 0px 0px 25px var(--color-editor);
    background-color: var(--color-editor);
    padding-right: var(--margin);
    padding-left: calc(var(--margin) * 2);
    min-height: 52px;
    line-height: 52px;

    &.sticky {
      position: sticky;
      top: 0px;
      z-index: 1;
    }

    & > h3 {
      flex: 1;
      overflow: hidden;
      font-weight: 900;
      line-height: 30px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    & > .searchResultHeaderIcon {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid transparent;
      border-radius: 2px;
      width: 30px;
      height: 30px;
      color: var(--color-foreground-inactive);
      font-size: 14pt;
      text-decoration: none;

      &:hover {
        background-color: var(--color-background-hover);
        color: var(--color-foreground);
      }

      &:focus-visible {
        outline: none;
        border-color: var(--color-foreground);
        background-color: var(--color-background-hover);
      }
    }
  }

  & .searchResultDescription {
    padding: var(--margin);
    padding-right: calc(var(--margin) * 3);
    padding-left: calc(var(--margin) * 3);
  }

  & .searchResultBottomBar {
    display: flex;
    flex-direction: column;
    gap: var(--margin);
    padding: var(--margin);
    padding-right: calc(var(--margin) * 3);
    padding-left: calc(var(--margin) * 3);
  }

  & .searchResultLinks {
    display: flex;
    align-items: right;
    gap: 5px;
    padding-left: 3px;
    font-size: 9pt;
    text-align: right;
  }

  & .separator {
    flex: 0 1px;
    flex-shrink: 0;
    opacity: 0.5;
    margin: 0 var(--margin);
    background: var(--color-foreground-inactive);
  }
}

.logoContainer {
  display: flex;
  padding: var(--margin);

  &:focus-visible path,
  &:hover path {
    stroke: var(--color-foreground);
  }

  & path {
    fill: none;
    fill-opacity: 1;
    stroke: var(--color-foreground-inactive);
    stroke-width: 2;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    stroke-dasharray: none;
    stroke-opacity: 1;
    display: inline;
    paint-order: normal;
  }
}

.solidexDialogBody {
  display: flex;
  flex: 1;
  overflow: hidden;

  & > .searchLabels {
    display: flex;
    flex: 0 auto;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: baseline;
    align-items: baseline;
    gap: 5px;
    border-right: 1px solid var(--color-foreground-inactive);
    padding: var(--margin);
    font-size: 9pt;
  }
}

.subPackageDescription,
.subPackageBottomBar {
  margin-left: var(--margin);
}

.subPackageSeparator {
  margin-left: calc(var(--margin) * 3) !important;
}

/**********************************************************************************/
/*                                                                                */
/*                                     HEADING                                    */
/*                                                                                */
/**********************************************************************************/

@keyframes skeleton-fade {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
.skeleton {
  -webkit-transform: translateZ(0);
  position: relative;
  transform: translateZ(0);
  border-radius: 3px;
  width: 100%;
  height: auto;
}
.skeleton[data-animate='true']::after {
  animation: skeleton-fade 1500ms linear infinite;
}
.skeleton[data-visible='true'] {
  overflow: hidden;
  color: transparent;
}
.skeleton[data-visible='true']::before {
  position: absolute;
  z-index: 10;
  inset: 0;
  background-color: var(--color-black);
  content: '';
}
.skeleton[data-visible='true']::after {
  position: absolute;
  z-index: 11;
  inset: 0;
  background-color: var(--color-foreground);
  content: '';
}

/**********************************************************************************/
/*                                                                                */
/*                                      Toast                                     */
/*                                                                                */
/**********************************************************************************/

.toastList {
  display: flex;
  position: fixed;
  top: 30px;
  right: 0;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
  z-index: 9999;
  margin: 0;
  outline: none;
  padding: var(--margin);
  padding-right: calc(var(--margin) * 2);
  width: 400px;
  max-width: 100vw;
  list-style: none;
}
.toast {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  box-shadow:
    0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  border: 1px solid var(--color-foreground-inactive);
  border-radius: 6px;
  background-color: var(--color-editor);
  padding: calc(var(--margin) / 2) var(--margin);
  color: var(--color-foreground);
  font-size: 10pt;
}
.toast[data-opened] {
  animation: slideIn 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.toast[data-closed] {
  animation: hide 100ms ease-in;
}
.toast[data-swipe='move'] {
  transform: translateX(var(--kb-toast-swipe-move-x));
}
.toast[data-swipe='cancel'] {
  transform: translateX(0);
  transition: transform 200ms ease-out;
}
.toast[data-swipe='end'] {
  animation: swipeOut 100ms ease-out;
}
.toastContent {
  display: flex;
  align-items: flex-start;
  width: 100%;
}
.toastTitle {
  color: var(--color-foreground);
}
@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes slideIn {
  from {
    transform: translateX(calc(100% + var(--viewport-padding)));
  }
  to {
    transform: translateX(0);
  }
}
@keyframes swipeOut {
  from {
    transform: translateX(var(--kb-toast-swipe-end-x));
  }
  to {
    transform: translateX(calc(100% + var(--viewport-padding)));
  }
}
